<div class="container top">
    <div class="d-flex align-items-center justify-content-center", style="height:400px;">
        <h1 class="text-white">
            あなたは どんな世界と 出会う？
        </h1>
    </div>
    <div class="fadeUp text-center text-warning">
        アニメのオススメポイントを見たり、投稿することができるサイトです。<br>
        また、作品の出演声優を知れたり、声優ごとに出演作品も見られるようになっております。<br>
        アニメが好きな方にはアニメのオススメポイントを投稿することで推しアニメを盛り上げて頂き、<br>
        アニメを見てみたいけど何を見たらいいか分からないという方には、オススメポイントを見て<br>
        見たいと思うアニメに出会う場として活用して頂きたいです。
    </div>
</div>