<div class="container">
  <div class="row">
    <div class="col my-3">
      <%= form_with url: user_voices_search_path, method: :get, local:true do |f| %>
       <%= f.text_field 'search[value]' %>
        <%= f.submit :"検索" %>


        <!--<p>-->
        <!--  <%#= f.text_field :search %>-->
        <!--  <%#= f.submit "Search", :name => nil %>-->
        <!--</p>-->
      <% end %>
      <h4>声優一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
        <% @voices.each do |voice| %>
          <table>
            <tr>
              <td>
                <%= link_to voice.name, user_voice_path(voice.id) %>
              </td>
            </tr>
          </table>
        <% end %>
    </div>
  </div>
</div>