<div class="container">
  <div class="row">
    <div class="col text-center my-5">
      <h3><%= @voice.name %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h4>出演作品</h4>
      <% @anime_voices.each do |anime_voice| %>
        <table align=center >
          <td>
            <%=link_to anime_voice.anime.title, user_anime_path(anime_voice.anime.id), :class => "text-dark" %>
          </td>
        </table>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "声優一覧に戻る", user_voices_path, :class => "text-info" %>
  </div>
</div>