<div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <%= @anime.title %>
        <!--<%#= @anime_url.url %>-->
      </div>
    </div>
    <div class="row">
      <div class="col-4 mt-5">
      </div>
      <div class="col-4 mt-5">
        <!--commentのテンプレ入れる-->
      </div>
      <div class="col-4 mt-5">
        <h6>出演声優</h6>
      </div>
    </div>
</div>