// Place all the styles related to the user/animes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-btn {
 color: #FF5192;
 }

.unlike-btn {
 color: #66CCFF;
 }

 .count_like {
  color: #FF5192;
 }

 .count_unlike {
  color: #66CCFF;
 }

 .AnimeTable {
  border-collapse: separate;
  border-spacing: 25px 5px;
 }
