<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto">
      <h3>アニメタイトル編集</h3>
    </div>
  </div>
  <%= form_with model:@anime, url:admin_anime_path(@anime), local:true do |f| %>
    <div class="row">
      <div class="col-2">アニメタイトル</div>
      <div class="col-3"><%= f.text_field :title  %></div>
      <div class="col-3">
        <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "選択してください"})%>
      </div>
      <div class="col-2">
        <%= f.submit "変更を保存", :class => "btn btn-outline-secondary btn-block" %>
      </div>
    </div>
  <% end %>
</div>