<div class="container">
    <div class="row">
      <div class="col-8">
        <table>
          <% @animes.each do |anime| %>
            <tr>
              <td>
                <%= link_to anime.title, admin_anime_path(anime.id) %>
              </td>
              <td>
                <%= link_to "編集する", edit_admin_anime_path(anime), :class => "btn btn-outline-secondary btn-block" %>
              </td>
              <td>
                <%= link_to "削除する", admin_anime_path(anime), method: :delete, :class => "btn btn-outline-secondary btn-block", data: {confirm: "削除しますか？"} %>
              </td>
            </tr>
          <% end %>
        </table>
        <%= paginate @animes %>
      </div>
    </div>
</div>